{% extends 'profile/layout.html' %}

{% block content %}
    <div class="conatiner-fluid content-inner mt-n5 py-0">
        <div>
            <div class="row">
                <div class="content-inner mt-n5 py-0">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <div class="header-title">
                                <h4 class="card-title">Cоздание листа контроля мероприятий</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <form class="form-horizontal" method="post">
                                {% csrf_token %}
                                {% for field in form %}
                                    <div class="form-group row">
                                        <span class="text-danger">{{ field.errors }}</span>
                                        <label class="control-label col-sm-3 align-self-center mb-0">
                                            {{ field.label_tag }}
                                        </label>
                                        <div class="col-sm-9">
                                            {{ field }}
                                        </div>
                                        {% if field.help_text %}
                                            <p class="help">{{ field.help_text|safe }}</p>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                                <h4>Контрольные точки</h4>
                                {{ checkpoint_formset.management_form }}
                                {% for form in checkpoint_formset %}
                                    {{ form.as_p }}
                                {% endfor %}
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Создать</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}