{% extends 'profile/layout.html' %}

{% block content %}
    <div class="conatiner-fluid content-inner mt-n5 py-0">
        <div>
            <div class="row">
                <div class="content-inner mt-n5 py-0">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <div class="header-title">
                                <h4 class="card-title">Добавление оценочных средств</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <form class="form-horizontal" method="post">
                                {% csrf_token %}
                                {% for field in form %}
                                    <div class="form-group row">
                                        <span class="text-danger">{{ field.errors }}</span>
                                        <label class="control-label col-sm-3 align-self-center mb-0">
                                            {{ field.label_tag }}
                                        </label>
                                        <div class="col-sm-9">
                                            {{ field }}
                                        </div>
                                        {% if field.help_text %}
                                            <p class="help">{{ field.help_text|safe }}</p>
                                        {% endif %}
                                    </div>
                                    {% if field.name == 'evaluation_rate' %}
                                    <div class="form-group row">
                                        <label class="control-label col-sm-3 align-self-center mb-0">
                                            Итого баллов:
                                        </label>
                                        <div class="col-sm-9">
                                            <input type="number" disabled value="0" class="form-control" id="rate_sum">
                                        </div>
                                    </div>
                                    {% endif %}
                                {% endfor %}

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Добавить</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
<script>
    const quantity = document.getElementById('id_evaluation_quantity');
    const rate = document.getElementById('id_evaluation_rate');
    const full_rate = document.getElementById('rate_sum');

    quantity.oninput = function () {
        full_rate.value = quantity.value * rate.value;
        if (isNaN(full_rate.value)) {
            full_rate.value = 0;
        }
    };
    rate.oninput = function () {
        full_rate.value = quantity.value * rate.value;
        if (isNaN(full_rate.value)) {
            full_rate.value = 0;
        }
    } 
</script>
{% endblock %}